* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Cores */
    --cor-fundo: #FAFAFA;
    --cor-texto: #1C1F26;
    --cor-texto-secundario: #5A616E;
    --cor-acento: #2F6F5E;
    --cor-borda: #E3E5E8;

    /* Tipografia */
    --fonte-titulo: 'Manrope', sans-serif;
    --fonte-corpo: 'Manrope', sans-serif;
    --fonte-mono:  'JetBrains Mono', monospace;

    /* Espaçamento */
    --espaco-xs: 8px;
    --espaco-sm: 16px;
    --espaco-md: 24px;
    --espaco-lg: 48px;
    --espaco-xl: 96px;

    /* Largira máxima */
    --largura-maxima: 720px;
}


body {
    font-family: var(--fonte-corpo);
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    line-height: 1.6;
    font-size: 16px;
}

h1, h2, h3 {
    font-family: var(--fonte-titulo);
    font-weight: 700;
    line-height: 1.2;
    color: var(--cor-texto);
}

h1 {
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
    margin-bottom: var(--espaco-md);
}

h3{
    font-size: 1.15rem;
    margin-bottom: var(--espaco-sm);
}

p{
    color: var(--cor-texto-secundario);
    margin-bottom: var(--espaco-sm);
    max-width: 65ch;
}

a{
    display: inline-block;
    padding: 6px 14px;
    border: 1px solid var(--cor-acento);
    border-radius: 6px;
    transition: background-color 0.15s ease, color 0.15s ease;
}

a:hover,
a:focus-visible{
    background-color: var(--cor-acento);
    color: var(--cor-fundo);
}

a + a{
    margin-left: var(--espaco-xs);
}

ul{
    list-style: none;
    margin-bottom: var(--espaco-sm);
}

li{
    font-family: var(--fonte-mono);
    font-size: 0.9rem;
    color: var(--cor-texto-secundario);
    padding: 4px 0;
    border-bottom: 1px solid var(--cor-borda);
}

li::before{
    content: '->';
    color: var(--cor-acento);
}

li:hover{
    background-color: #F0F2F1;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin: var(--espaco-sm);
}

header,
main,
footer{
    max-width: var(--largura-maxima);
    margin: 0 auto;
    padding: 0 var(--espaco-md);
}

header{
    padding-top: var(--espaco-xl);
    padding-bottom: var(--espaco-lg);
}

section{
    padding-bottom: var(--espaco-xl);    
    border-bottom: 1px solid var(--cor-borda);
    margin-bottom: var(--espaco-lg);
}

section:last-of-type{
    border-botton: none;
}

article{
    padding: var(--espaco-md) 0;
}

article + article{
    border-top: 1px solid var(--cor-borda);
    margin-top: var(--espaco-md);
}

@media (max-width: 600px) {
    header,
    main,
    footer {
        padding: 0 var(--espaco-sm);
    }
    h1{
        font-size: 1.5rem;
    }
}